@import 'mixin.scss';

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $tw-font-family;
}

h1{
    font-family: $ub-font-family;
    font-size: 2rem;
    font-weight: $ub-bold-weight;
    @include tablet{
        font-size: 3.2rem;
    }
    
    @include large-desktop{
        font-size: 4rem;
    }
}

h2{
    font-family: $ub-font-family;
    font-size: $section-title-size;
    text-transform: uppercase;
    font-weight: $ub-bold-weight;
    @include tablet{
        font-size: 1.1rem;
    }
}

h3{
    font-size: $base;
}

p{
    font-weight: $tw-regular-weight;
    font-size: $base;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    background-color: #F05241;
    border: none;
    color: #fff;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: $base;
    cursor: pointer;
    @include tablet{
        font-size: 1rem;
    }
    @include desktop{
        font-size: 1.125rem;
    }
}

.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.headline-home-section,
.headline-gallery-section{
    background-image: url('../assets/heroImage.jpg');
    background-image: linear-gradient( $background-mobile-gradient, $background-mobile-gradient), url('../assets/heroImage.jpg');
    background-position: -288px top;
    background-size: 977px;
    // background-repeat: no-repeat;
    background-attachment: fixed;

    @include tablet {
        background-image: linear-gradient( $background-gradient, $background-gradient), url('../assets/heroImage.jpg');
        background-size: 1196px;
        background-position: -189px -50px;
    }
    @include ipad{
        background-position: -189px -89px;
        background-size: 1375px;
    }
    @include desktop{
        background-size: 156%;
        background-position: -436px -206px;
    }
    @include large-desktop{
        background-position: -562px -361px;
    }
}

.headline-section{
    height: 300px;

    @include tablet{
        height: 340px;
    }
    @include ipad{
        min-height: 500px;
    }
    @include desktop{
        min-height: 600px;
    }
    @include large-desktop{
        min-height: 64vh;
    }
}

.title-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    max-width: 464px;
    margin: 0 auto;
    padding: 0 1rem;
    @include tablet{
        margin: 0 auto 0 3rem;
        align-items: flex-start;
        text-align: left;
    }
    @include ipad{
        padding: 6rem 0 0;
    }

    @include desktop{
        margin-left: 8rem;
        padding-top: 11rem;
    }

    @include large-desktop{
        max-width: 800px;
    }
}

.headline-cta{
    font-size: $button-font-size;
    font-family: $tw-font-family;
    font-weight: $tw-regular-weight;
    background-color: $accent-color;
    padding: 0.5rem 0.75rem;     
    border-radius: 5px; 
    color: #fff;
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
    @include desktop{
        font-size: 1rem;
    }
}

.headline-cta:hover{
    background-color: transparent;
    border: 1px solid $accent-color;
    color: $text-color
}

.images-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 2.125rem;
    @include tablet{
        padding: 2.125rem 0
    }
    @include ipad{
        padding: 2.5rem 0;
        max-width: 1000px;
    }

    .images-list{
        
        padding: 0 1rem;
        @include tablet{
           @include grid($grid-template-columns: 1fr 1fr, $grid-gap: 2rem);
        }
        @include ipad{
            @include grid($grid-template-columns: repeat(3, 1fr), $grid-gap: 2rem);
        }

        li{
            padding-bottom: 2.125rem;
            @include tablet{
                padding-bottom: 0;
            }

            .image-wrapper{
                height: 139px;
                border-radius: 5px;
                min-height: 200px;
            }
        }
    }
}

.loader{
    text-align: center;
}


// Override Toast Styles

.Toastify__toast{
    font-family: $tw-font-family !important;
    font-size: 1.125rem;
}

.Toastify__progress-bar--success{
    background: #ffb8b0 !important;
}

.Toastify__toast-icon > svg{
    fill: #ffb8b0 !important;
}

