$tw-font-family: 'Titillium Web', sans-serif; 
$ub-font-family: 'Ubuntu', sans-serif;
$tw-light-weight: 300;
$tw-regular-weight: 400;
$tw-semibold-wight: 600;
$tw-bold-weight: 700;
$ub-bold-weight: 700;

$accent-color: #F05241;
$primary-color: #E5E5E5;
$text-color: #232222;
$gradient-color: #D9C4C4;

