
.headline-contact-section{
    background-image: url('../assets/contact-image.jpg');
    background-repeat: no-repeat;
    background-position: right -633px bottom -218px;
    background-attachment: fixed;
    @include desktop{
        background-position: right -240px bottom -315px;
    }
    
    .title-wrapper{
        background-color: rgba(255, 250, 250, 0.6);
        max-width: none;
        @include tablet{
            align-items: center;
            text-align: center;
            max-width: none;
            margin: 0 auto;
        }
        @include desktop{
            padding-top: 4rem;
        }

        h1{
            color: $accent-color;
        }
    }
}

.contact-info-container{
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: 0 auto;
    @include tablet{
        padding-top: 4rem;
    }
    @include ipad{
        flex-direction: row;
        justify-content: space-between;
        padding: 6rem 5rem;
    }

    .contact-info{
        align-self: center;
        text-align: center;
        margin-bottom: 3rem;
        @include ipad{
            align-self: flex-start;
            text-align: left;
            flex: 1 0 auto;
        }
        
        h2{
            margin-bottom: 0.9rem;
        }
    }

    .error{
        text-align: center;
        padding-bottom: 2rem;
        color: $accent-color;
    }

    form{
        @include tablet{
            margin: 0 auto;
        }
        @include ipad{
            width: 70%;
        }

        .name-inputs{
            display: flex;
            flex-direction: row;
            border: none;
            justify-content: space-between;

            label{
                padding: 0;
                display: inline;
            }

            #input-name{
                margin-right: 0.25rem;
            }

            #input-lastname{
                margin-left: 0.25rem;
            }

            #input-name,
            #input-lastname{
                width: 100%;
            }

            #lastname,
            #name{
                margin-top: 0.5rem;
            }
        }

        label{
            padding-bottom: 0.5rem;
            display: block;
        }

        input,
        textarea{
            padding: 0.8rem 0.5rem;
            width: 100%;
            margin-bottom: 1.5rem;
            border: 1px solid $accent-color;
            border-radius: 0;
            --webkit-appearance: none;
            font-family: $tw-font-family;
            resize: vertical;

            &::placeholder{
                color: $primary-color;
                text-transform: uppercase;
                font-size: 0.7rem;
                font-family: $tw-font-family;
            }

            &:focus{
                outline: 2px dashed $primary-color;
            }
        }

        .project-options{
            border: none;
            margin-bottom: 1rem;
            @include ipad{
                @include grid($grid-template-columns: repeat(3, 1fr));
                margin-bottom: 1.5rem;
            }

            legend{
                text-transform: uppercase;
                font-weight: $tw-semibold-wight;
                font-size: 0.9rem;
                margin-bottom: 0.5rem;
                @include ipad{
                    margin-bottom: 1rem;
                }

                span{
                    font-size: 0.6rem;
                    font-style: italic;
                }
            }

            div{
                position: relative;
                display: flex;
                align-items: center;
                padding-bottom: 0.8rem;
                @include ipad{
                    padding-bottom: 0;
                }

                input[type='checkbox']{

                    opacity: 0;
                    width: auto;
                    margin: 0;
                    cursor: pointer;

                    &:checked + label::after{
                        content: '';
                        position: absolute;
                        left: 2px;
                        top: 3px;
                        width: 10px;
                        height: 10px;
                        border-right: 2px solid $accent-color;
                        border-bottom: 2px solid $accent-color;
                        background-color: transparent;
                        transform: rotate(45deg);
                    }
                }

                label{
                    margin-left: 0.8rem;
                    font-size: 0.9rem;
                    cursor: pointer;

                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 4px;
                        width: 15px;
                        height: 15px;
                        border: 1px solid $accent-color;
                        background-color: transparent;
                    }
                }
            }
        }
        
        button{
            width: 25%;
            margin: 0 auto;
            display: block;
        }
    }
}