
.headline-gallery-section{
    background-image: url('../assets/heroImage.jpg');
    background-image: linear-gradient( rgba(217, 196, 196, 0.85), rgba(217, 196, 196, 0.85)), url('../assets/heroImage.jpg');
    background-position: -288px;
    background-size: 977px;
    background-repeat: no-repeat;
}