

main{
    flex-grow: 1;

    .content-wrapper{

        .headline-section{
            background-image: url('../assets/heroImage.jpg');
            background-image: linear-gradient( rgba(217, 196, 196, 0.85), rgba(217, 196, 196, 0.85)), url('../assets/heroImage.jpg');
            background-position: -288px;
            background-size: 977px;
            background-repeat: no-repeat;
            height: 242px;

            .title-wrapper{
                height: 242px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                text-align: center;

                h1{
                    font-family: $ub-font-family;
                    font-size: 1.8rem;
                    font-weight: $ub-bold-weight;
                   
                }

                h3{
                    font-family: $tw-font-family;
                    font-weight: $tw-regular-weight;
                    font-size: 0.75rem;
                    letter-spacing: 0.05rem;
                    padding: 1rem 0;
                }
            }
        }

        .services-wrapper{

            background-color: $primary-color;
            padding: 3rem 0;
            text-align: center;

            h2{
                font-family: $ub-font-family;
                font-size: $section-title-size;
                text-transform: uppercase;
                font-weight: $ub-bold-weight;
            }

            p{
                font-weight: $tw-regular-weight;
                font-size: 0.75rem;
                margin: 2rem 0;
                padding: 0 2rem;
            }

            .service-list-wrapper{

                padding: 0 1rem;

                .services-list{
                    color: $accent-color;
                    width: 80%;
                    margin: 0 auto;
    
                    .service-item{
                        border: 1px solid $accent-color;
                        padding: 3rem;
                        margin-bottom: 2rem;
                        border-radius: 5px;
    
                        svg{
                            font-size: 1.8rem;
                        }
                        
                        h3{
                            font-size: 1rem;
                            text-transform: uppercase;
                            letter-spacing: 0.05rem;
                        }
                    }
                }
            } 
        }
    }
}