@import 'mixin.scss';

main{
    flex-grow: 1;

    .content-wrapper{

        .headline-home-section{

            .title-wrapper{
                h3{
                    font-family: $tw-font-family;
                    font-weight: $tw-regular-weight;
                    font-size: 0.9rem;
                    letter-spacing: 0.05rem;
                    padding: 1rem 0;
                    @include tablet{
                        font-size: 0.85rem;
                    }
                    @include desktop{
                        font-size: 1rem;
                        padding: 1.5rem 0;
                    }
                }
            }
        }

        .services-wrapper{
            background-color: $primary-color;
            padding: 3rem 0;
            text-align: center;
            @include ipad {
                padding: 4rem 0;
            }

            .section-info{  
                width: calc(85% - 2rem);
                margin: 0 auto;   
                @include ipad{
                    width: calc(60% - 2rem);
                    max-width: 640px;
                }

            }

            p{
                margin: 2rem 0;
                padding: 0 2rem;
            }

            .service-list-wrapper{
                padding: 0 1rem;
                @include tablet{
                    padding: 1.5rem 1rem
                }

                .services-list{
                    color: $accent-color;
                    @include tablet{
                        @include grid($grid-template-columns: 1fr 1fr, $grid-gap: 2rem);
                        width: 85%;
                        margin: 0 auto;
                        max-width: 640px;
                    }
                    @include ipad{
                        @include grid($grid-template-columns: repeat(3, 1fr), $grid-gap: 2rem);
                        max-width: 1000px;
                    }
                    

                    .service-item{
                        border: 1px solid $accent-color;
                        padding: 3rem;
                        margin: 0 auto 3rem;
                        width: 100%;
                        max-width: 300px;
                        border-radius: 5px;
                        @include tablet{
                            margin-bottom: 0;
                        }
    
                        svg{
                            font-size: 1.8rem;
                        }
                        
                        h3{
                            font-size: 1rem;
                            text-transform: uppercase;
                            letter-spacing: 0.05rem;
                        }
                    }
                }
            } 
        }
    }
}