
.main-nav-container{
    position: relative;
    @include ipad{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: -0.5rem;
        z-index: 1;
    }
    @include desktop{
        margin-top: -1.1rem;
    }

    .nav-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        background-color: #fff;
        @include ipad{
            background-color: transparent;
            margin-left: 3rem;
            padding-left: 0;
        }
        @include desktop{
            padding-top: 3rem;
        }

        @include large-desktop{
            margin-left: 8rem;
        }
    
        img{
            width: 6rem;
            @include tablet{
                width: 7rem;
            }
            @include desktop{
                width: 10rem;
            }
        }
    
        .mobile-open-close{
            cursor: pointer;
            svg{
                font-size: 2rem;
            }
            @include ipad{
                display: none;
            }
        }
    
    }
    
    .animation{
        animation: showandhide 500ms normal ease-in-out;
        @keyframes showandhide {
            from{
                opacity: 0;
            }
    
            to{
                opacity: 1;
            }
        }
    }

    .menu-tabs{
        @include ipad{
            padding: 2rem;
            background-color: #fff;
        }
        @include desktop{
            padding: 2.5rem 2rem;
        }
        ul{
            position: absolute;
            display: none;
            width: 100%;
            background-color: #fff;
            flex-direction: column;
            overflow: hidden;
            z-index: 999;
            transition: height 300ms ease-in-out;
            box-shadow: 0px 25px 35px 0 rgba(0,0,0,0.05);
            @include ipad{
                display: flex;
                position: static;
                flex-direction: row;
                box-shadow: none;
            }

            li{
                padding: 1.3125rem 0;
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: $tw-regular-weight;
                color: $text-color;
                width: 100%;
                text-align: center;
                cursor: pointer;
                transition: all  300ms ease-in-out;
                border-bottom: 1px solid rgb(245, 245, 245);

                a{
                    color: $text-color
                }

                @include ipad{
                    width: auto;
                    padding: 1rem 2rem;
                    border: none;
                }
                @include desktop{
                    padding: 1rem 3rem;
                    font-size: 0.9rem;
                }
                @include large-desktop{
                    padding: 1rem 4rem;
                }

                &:hover  a {
                    color: #fff;
                }

                &:hover{
                    background: $accent-color;
                    @include ipad{
                        transform: scale(1.025);
                    }
                }
            }

            li.hidde{
                display: none;
            }
        }

        ul.active{
            display: flex;
        }
    }
}

