
.reviews-container{
    text-align: center;
    padding: 2rem 3rem;
    height: 25vh;
    min-height: 25vh;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
    @include small-screen{
        min-height: 38vh;
    }
    @include ipad{
        padding: 4rem 3rem;
        height: 30vh;
        min-height: 30vh;
    }
    @include desktop{
        padding: 7rem 3rem;
        height: 40vh;
        max-height: 40vh;
        max-width: 730px;
    }

    .arrows-container{
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        button{
            background-color: transparent;
            border: none;
            color: $accent-color;
            cursor: pointer;
        }

        button.unabled{
            color: $primary-color;
        }
    }

    .reviews-list{
        display: flex;
        margin-top: 0.5rem;
        position: relative;
        transition: transform 500ms ease-in-out;
           

        .review-item{
            position: absolute;
            width: 100%;
            opacity: 0;
            transition: opacity 500ms ease-in-out;
            
            span{
                margin-top: 1rem;
                display: block;
                font-size: 0.75rem;
            }
        }

        .review-item.active {
            opacity: 1;
        }
    }
}