// Imports
@import 'styles/variables';
@import 'styles/navbar.scss';
@import 'styles/footer.scss';
@import 'styles/home.scss';
@import 'styles/reviews.scss';
@import 'styles/gallery.scss';
@import 'styles/about.scss';
@import 'styles/portfolio-page.scss';
@import 'styles/contact-page.scss';

// Resets
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $tw-font-family;
}

h1{
    font-family: $ub-font-family;
    font-size: 1.8rem;
    font-weight: $ub-bold-weight;
}

h2{
    font-family: $ub-font-family;
    font-size: $section-title-size;
    text-transform: uppercase;
    font-weight: $ub-bold-weight;
}

p{
    font-weight: $tw-regular-weight;
    font-size: 0.75rem;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.headline-section{
    height: 242px;
}

.title-wrapper{
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.headline-cta{
    font-size: 0.75rem;
    font-family: $tw-font-family;
    font-weight: $tw-regular-weight;
    background-color: $accent-color;
    padding: 0.5rem 0.75rem;     
    border-radius: 5px; 
    color: #fff;
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
}

.headline-cta:hover{
    background-color: transparent;
    border: 1px solid $accent-color;
    color: $text-color
}

.images-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 2.125rem;

    .images-list{
        
        padding: 0 1rem;

        li{
            padding-bottom: 2.125rem;

            .image-wrapper{
                height: 139px;
                border-radius: 5px;
            }
        }
    }
}


