// Imports
@import 'styles/variables';
@import 'styles/navbar.scss';
@import 'styles/footer.scss';
@import 'styles/home.scss';

// Resets
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $tw-font-family;
}

a{
    text-decoration: none;
}

.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
